@import "sass/variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
  min-height: 100vh;
  margin: 0;
}

.cnt {
  max-width:40rem;
  margin:2rem auto;
}

// Flex

.flex__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2%;

  .flex__container__left{
    width: 40%;
    margin-right: 7%;
  }

  .flex__container__right {
    width: 40%;
    margin-left: 7%;
  }

}

// Date and Time //

.date {
  width: 88%;
  height: fit-content;
  margin: 1% 6% 1% 6%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 3rem;
  padding: 0.4rem;
  span {
    color: tomato;
  }
}

// Header //

.header__container {
  width: $width;
  margin: $marginArea;
  height: 4rem;
  background: #fff;
  text-align: center;
  padding: 0.7rem;
  border-radius: 5px;

  .h1 {
    font-size: 2rem;
  }
}


// Formularz do dodawania zadań //

.form {
  font-family:sans-serif;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  margin: $marginArea;
  width: $width;
  height: 16.5rem;
}

.form__row {
  overflow:hidden;
}

.form__label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  font-weight: bold;

}
.form__message {
  padding: 1rem;
  height: 8rem;
  width: 100%;
  border: 1px solid #aaa;
  margin-bottom: 0.5rem;
  resize: vertical;
  font-family:sans-serif;
}
.form__button {
  padding: 0.8rem 1.6rem;
  background: tomato;
  color: #fff;
  border:0;
  border-radius: 0.188rem;
  transition: 0.4s all;
  cursor: pointer;
  float: right;
  width: 40%;
  font-weight: bold;
  font-size: 1.3rem;
}
.form__button:hover {
  background: #ED2D2D;
}

// Lista zadań

.list__section {
  background: #fff;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 2%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 0.5rem;
  height: 4rem;
}
.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.list__title {
  margin-left: 35%;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

// lista Zadań

.task {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.task__bar {
  overflow:hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
.task__date {
  margin:0;
}
.task__date {
  font-size: 0.9rem;
  font-weight: normal;
}
.task__delete {
  border:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-indent: -999px;
  overflow: hidden;
}
.task__text {
  color:#777;
  font-size:0.8rem;
}


// Wyświetlanie listy zadan

.task__list {

  div {

  background: #fff;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 2%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 1rem;
  font-style: italic;
  color: tomato;
    font-size: 1.2rem;
  p {
    margin-top: 1%;
    margin-bottom: 1%;
  }


  }


  .task__list__description {
    font-size: 1.6rem;
    font-style: normal;
    color: black;
    margin-left: 3%;

    text-transform: capitalize;

  }

  span {
    color: black;
  }
}

.task__list__remove {
  padding: 0.2rem .6rem;
  background: tomato;
  color: #fff;
  border:0;
  border-radius: 0.188rem;
  transition: 0.4s all;
  cursor: pointer;
  width: 25%;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 75%;
  &:hover {
    background: #ED2D2D;
  }
}

.remove__tasks {
  background: #fff;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 1rem;
  font-style: italic;
  color: tomato;
  font-size: 1.2rem;
  width: $width;
  margin-top: 2%;

  button {
    padding: 0.4rem 1.6rem;
    background: tomato;
    color: #fff;
    border:0;
    border-radius: 0.188rem;
    transition: 0.4s all;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    &:hover {
      background: #ED2D2D;
    }
  }
}